*.iml
*.ipr
*.iws
target/
/var
pom.xml.versionsBackup
pom.xml.releaseBackup
test-output/
/atlassian-ide-plugin.xml
.idea
.*.swp
.*.swo
.project
.classpath
.settings
.pmdruleset.xml
.pmd
.flattened-pom.xml
.attach_pid*
release.properties
