name: ci

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 23
          - 24
          - 25-ea
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
      - name: Maven Install
        run: ./mvnw install -B -V -DskipTests -Dair.check.skip-all
      - name: Maven Tests
        run: ./mvnw install -B -P ci
  error-prone:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 23
      - name: Compile with errorprone
        run: ./mvnw compile -B -V -DskipTests -Dair.check.skip-all -P errorprone-compiler
