name: ci

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 22
          - 23-ea
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
      - name: Maven Install
        run: mvn install -B -V -DskipTests -Dair.check.skip-all
      - name: Maven Tests
        run: mvn install -B -P ci
