name: ci

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 24
          - 25
          - 26-ea
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
      - name: Maven Install
        run: ./mvnw install -B -V -DskipTests -Dair.check.skip-all
      - name: Maven Tests
        run: ./mvnw install -B -P ci

  error-prone:
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 25
      - name: Error Prone Checks
        run: ./mvnw clean compile test-compile -B -V -T 1C -DskipTests -Dair.check.skip-all -P errorprone-compiler
