name: Release snapshot version

on:
  workflow_dispatch:
    inputs:
      repository:
        description: 'The repository to release snapshot release from (use with caution!)'
        required: true
        default: 'airlift/airlift'
      branch:
        description: 'The branch to release snapshot release from'
        required: true
        default: 'master'

jobs:
  snapshot-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          repository: '${{ github.event.inputs.repository }}'
          ref: ${{ github.event.inputs.branch }}

      - name: Install java
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          gpg-private-key: ${{ secrets.JRELEASER_GPG_SECRET_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
          cache: 'maven'

      - name: Run mvn deploy to local staging
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.JRELEASER_GPG_PASSPHRASE }}
        run: |
          ./mvnw clean deploy -DskipTests -Poss-release -DaltDeploymentRepository=id::njord:snapshot

      - name: Run njord:validate
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.JRELEASER_GPG_PASSPHRASE }}
          MAVENCENTRAL_USERNAME: ${{ secrets.JRELEASER_NEXUS2_MAVEN_CENTRAL_USERNAME }}
          MAVENCENTRAL_PASSWORD: ${{ secrets.JRELEASER_NEXUS2_MAVEN_CENTRAL_TOKEN }}
        run: |
          ./mvnw njord:list
          ./mvnw njord:status
          ./mvnw njord:validate

      - name: Run njord:publish
        env:
          MAVEN_GPG_PASSPHRASE: ${{ secrets.JRELEASER_GPG_PASSPHRASE }}
          MAVENCENTRAL_USERNAME: ${{ secrets.JRELEASER_NEXUS2_MAVEN_CENTRAL_USERNAME }}
          MAVENCENTRAL_PASSWORD: ${{ secrets.JRELEASER_NEXUS2_MAVEN_CENTRAL_TOKEN }}
        run:
          ./mvnw njord:publish -Poss-release
